/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  .flatmir-footer {
    color: $body-color;
    background-color: white;
    border-top: 10px solid $secondary;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 50px;
    padding-top: 1rem;
    .project-copyright {
      margin-top: 1rem;
      color: $jRot;
      a {
        color: $jRot;
        &:hover,
        &:focus {
          color: $jGrau;
        }
      }
    }
    h4 {
      color: $body-color;
    }
  }

  #powered_by {
    margin-top: 3rem;
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
