/*  layout settings
 *  - styles for basic layout elements
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  .logo-octopus {
    display: block;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
  }

  .logo-column {
    display: flex;
    justify-content: right;
    align-items: end;
    a {
      width: 100%;
      text-align: right;
    }
    img {
      width: 60%;
    }
  }

  // overwrite mycore/mir settings
  // catogories
  ul.cbList li:nth-child(2n+1) {
    background-color: $jGrau20;
  }
  ul.cbList li {
    background-color: $jGrau35;
    color: $body-color;
  }
  ul span.cbNum {
    padding: 0 8px 0 12px;
    color: $body-color;
  }
  ul.cbList li a {
    &:hover {
      text-decoration: underline;
    }
  }
  ul.cbList li a:first-child {
    color: $body-color;
  }
  ul ul span.cbNum {
    color: $body-color;
  }
  // persons
  ul.names li a {
    color: $body-color;
    background-color: $jGrau20;
    border: 1px solid $jGrau20;
    &:hover,
    &:focus {
      background-color: $jGrau35;
    }
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}