// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------
//  You can't use bootstrap variables here,
//  they are unknown yet.
//  But if you set them here, you will overwrite
//  the bootstrap defaults! in this way

// --------------------------------------------------
//  project settings
// --------------------------------------------------

$assetPathRoot : "../../../../";

$jRot:      #D50911; // Primaerfarbe Jade-Rot (Hausfarbe)
$jRot20:    #F9D7C8;
$jRot15:    #FAE1D6;
$jRot10:    #FCEBE3;
$jRot5:     #FEF5F2;

$jGrau:     #535850; // Sekundaerfarbe Flaechen Dunkelgrau 100%
$jGrau95:   #5C625A;
$jGrau90:   #656B63; // Flaechenfarbe Grau 90%
$pLogo:     #808080; // Logofarbe Grau (nicht CD Jade, wurde freigegeben so lassen)
$jGrau35:   #C4C8C3; // Grau 35%
$jGrau30:   #CCD0CC;
$jGrau25:   #D5D8D5; // Flaechenfarbe Grau 25%	"Schriftfarbe und Flaechenfarbe
$jGrau20:   #DEE1DD; // Schriftfarbe und Flaechenfarbe Grau 20%
$jGrau15:   #E6E7E4;
$jGrau10:   #EDEFED;
$jGrau5:    #F6F7F6;

$jNeu:      #691B70; // Neue Farbe

$jText:     #212529;
$jGruen:    #3a7949; // Flaechenfarbe und Textfarbe Gruen

// --------------------------------------------------
//  overwrite bootstrap
// --------------------------------------------------

$primary: $jRot;
$secondary: $jGrau;

$success: $jGruen;
$info: $jGrau;
$warning: $jGrau;

$gray-700: $jGrau35;

$body-color: $jText;
$font-size-base: 1rem;

$web-font-path: "https://webfonts.gbv.de/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
$web-font-path: "https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
$font-family-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$headings-font-family: 'Exo 2', system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

$link-color: $jRot;
$link-hover-color: $jGrau;
$link-decoration: none;
$link-hover-decoration: underline;

$dropdown-link-color: $jText;